$fontColor: black;

.profile-view-paper {
    color:$fontColor;
    min-height:500px;
    margin-bottom: 25px;
    overflow: auto;
    padding:15px;
}

.profile-view-app-bar {
    background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(226,37,37,1) 0%, rgba(211,49,49,1) 82.8% );
}

.profile-view-app-bar-button {
    font-size: 14;
    font-weight: bold;
}

.profile-view-grid {
    padding: 0px;
}

.profile-view-input-container {
    display: flex;
    align-items: center;
}

h2 {
    color: $fontColor;
    text-align:left;
    font-size: 18pt;
}
