$fontColor: black;

.profile-view-paper {
    color:$fontColor;
    min-height:500px;
    margin-bottom: 25px;
    overflow: auto;
    padding:15px;
}

.profile-view-app-bar {

}

.profile-view-grid {
    padding: 0px;
}

.profile-view-input-container {
    display: flex;
    align-items: center;
}

h2 {
    color: $fontColor;
    text-align:left;
    font-size: 18pt;
}