.profile-list-avatar {
    width: 150px;
    height: 150px;
    min-width: 50px;
    min-height: 50px;
    margin-right: 50px;
}

.profile-list-text {
    font-size:24pt;
    font-weight: bold;
}

.profile-list-paper {
    color:black;
    margin-bottom: 25px;
    overflow: auto;

    min-height:500px;
}